
/* ------------------------------ */
/* MAIN LAYOUT 
/* ------------------------------ */

body{ font-family:Arial, Helvetica, sans-serif; font-size:62.5%; background:#000; color:#fff; -webkit-font-smoothing: antialiased; }
#page{ border-top:30px solid #a6cf39; background:url(../images/tile_page.gif) repeat-x}
#page > .inner{ background:url(../images/tile_header.gif) right 0 no-repeat}
.wrap{ max-width:1000px; margin:0 auto; position:relative}
#main{ padding-top:20px}
#content{ position:relative; padding-bottom:50px}
#page-bottom{ padding-top:60px; background:#333333}
.padding > .inner{ padding:0 20px}

/* ------------------------------ */
/* HEADER
/* ------------------------------ */

header .wrap{ background:url(../images/tile_header.gif) no-repeat}
header .inner{ background:url(../images/bg_curve.gif) 306px 0 no-repeat }

#menu-toggle{ display:none; position:absolute; top:50%; margin-top:-10px; right:20px; }
#menu-toggle a{ display:block; width:25px; height:21px; background:url(../images/mobile_menu.png); text-indent:-999em; outline:none }
#menu-toggle a.close{ background-position:0 -50px}

header .region-nav .inner{ background:none}
nav{ position:absolute; right:0; top:40px; outline:none}
nav ul.menu{ margin:0; padding:0; font-size:2em; }
nav ul.menu li{ float:left; font-family:arial; text-transform:uppercase; line-height:47px; border-right:2px solid #404040; padding:0; position:relative}
nav ul.menu li:last-child{ border:none}
nav ul.menu li a{ color:#fff; display:block; padding:0 22px; text-decoration:none }
nav ul.menu li a:hover{ color:#a6ce39; }
nav ul.menu li a.active-trail{ font-family:'archivo'; color:#a6ce39}
nav ul.menu li:hover,
nav ul.menu li a:hover{ background:#5c5c5c}
nav ul.menu li:hover ul{ display:block}
nav ul.menu li.menu-mlid-524 > a{ cursor:text}

nav ul.menu ul{ position:absolute; top:100%; left:-2px; margin:0; padding:0 22px; width:auto; z-index:99; background:#333333; border-left:2px solid #404040; font-size:.75em; display:none }
nav ul.menu ul li{ float:none; display:block; width:auto; border:none; border-bottom:1px solid #484848}
nav ul.menu ul li a,
nav ul.menu ul li a.active-trail{ white-space:nowrap; font-family:arial; padding:0}
nav ul.menu ul li:hover,
nav ul.menu ul li a:hover{ background:none}


/* ------------------------------ */
/* FOOTER
/* ------------------------------ */

#social{ background:#5c5c5c; padding:15px 0; text-align:center}
#social .container { float:left; width:100%; overflow:hidden;}
ul#social-links, ul#social-links li{ margin:0; padding:0; list-style:none}
ul#social-links{ font-size:1.4em; float:left; position:relative; left:50%;}
ul#social-links li{ display:block; float:left; position:relative; right:50%; padding:0 35px; border-right:2px solid #747474; }
ul#social-links li div{ display:inline-block; height:42px;}
ul#social-links li .phone{ font-size:1.5em}
ul#social-links li a{ color:#a6ce39; text-decoration:none}
ul#social-links li a:hover{ text-decoration:underline}
ul#social-links li.social a{ display:inline-block; width:43px; height:42px; text-indent:-999em; background:url(/sites/all/themes/flowform/images/sprite.png); outline:none}
ul#social-links li.social.facebook a{ background-position:0 0}
ul#social-links li.social.twitter a{ background-position:-50px 0}
ul#social-links li.social.instagram a{ background-position:-100px 0}
ul#social-links li.social.linkedin a{ background-position:-150px 0}
ul#social-links li.social.youtube a{ background-position:-200px 0}
ul#social-links li.social.facebook a:hover{ background-position:0 -50px}
ul#social-links li.social.twitter a:hover{ background-position:-50px -50px}
ul#social-links li.social.instagram a:hover{ background-position:-100px -50px}
ul#social-links li.social.linkedin a:hover{ background-position:-150px -50px}
ul#social-links li.social.youtube a:hover{ background-position:-200px -50px}

#buckets{ padding:50px 0}

#footnote{ background:#a6cf39; text-align:center; font-size:1.2em; line-height:1; padding:18px 0; text-transform:uppercase}


/* ------------------------------ */
/* GRID
/* ------------------------------ */

.grid{ float:left}
.grid.half{ width:50%}
.grid.half:nth-child(odd) .inner{ padding-right:20px}
.grid.half:nth-child(even) .inner{padding-left:20px}

.grid.third{ width:33.333%}
.grid.third:nth-child(3n-2) .inner{ padding-right:26px}
.grid.third:nth-child(3n-1) .inner{ padding-left:13px; padding-right:13px;}
.grid.third:nth-child(3n+0) .inner{ padding-left: 26px;}

.grid.quarter{ width:25%}
.grid.quarter:nth-child(4n-3) .inner{ padding-right:14px}
.grid.quarter:nth-child(4n-2) .inner,
.grid.quarter:nth-child(4n-1) .inner{ padding-left:7px; padding-right:7px;}
.grid.quarter:nth-child(4n) .inner{ padding-left: 14px;}


/* ------------------------------ */
/* ELEMENTS
/* ------------------------------ */

h1, h2, h3, h4, h5{ line-height:1; font-family:'archivo'; color:#a6ce39; text-transform:uppercase; }
h1{ font-size:7.2em; padding:20px; margin:0 0 40px; border-top:2px solid #404040; border-bottom:2px solid #404040}
h2{ font-size:2.5em; padding:0 0 15px; margin:0 0 20px; border-bottom:2px solid #404040}
h3{ font-size:2.1em; margin:0 0 10px 0}
h4{ font-size:1.5em; margin:15px 0 5px 0; font-family:arial; }
h5{ font-size:1.2em; margin:0 0 15px 0;font-family:arial; color:#929191; }

h2 a, h3 a, h4 a, h5 a{ color:#a6ce39; text-decoration:none}
h2.block-title{ color:#fff; border:none; margin:0 0 30px; padding:0}
h2 span{ font-size:.48em; margin:0; font-family:arial; color:#929191; display:block; margin-top:5px}

p, ul, ol{ line-height:1.5m; font-size:1.5em; margin: 0 0 20px; padding:0; line-height:1.4em} 
ul{ margin-left:15px; padding:0; }
ol{ margin-left:20px; padding:0; }
ul li, ol li{ padding-bottom:5px}
ul ul,
ul ul ul,
ol ol,
ol ol ol{ font-size:1em; }
ul ul{ margin-left:25px}
ol ol{ margin-left:30px}
ol ol{ list-style-type:lower-alpha}
ul.nostyle, ul.nostyle li{ margin:0; padding:0; list-style:none}

a{ color:#fff;}
a:hover{ text-decoration:none}
a.arrow{ font-size:1.5em; text-transform:uppercase; text-decoration:none; padding-right:15px; background:url(../images/arrow_green.png) right center no-repeat}
a.arrow:hover{ padding-right:16px}
p a.arrow{ font-size:1em}
.arrow.white{ color:#a6ce39; font-family:'archivo';}
.arrow.white.small{background:url(../images/arrow_white_small.png) right center no-repeat; padding-right:18px}
.arrow.white.small:hover{ padding-right:19px}

img{ display:block}

table{ width:100%}

.green{ color:#a6ce39;}
.large{ font-size:2.1em}
p .large{ font-size:1.4em}

label, input, textarea, select{ font-size:1.5em}

.webform-client-form{ padding-bottom:40px}
.webform-client-form .form-item{ margin:0 0 15px}
.webform-client-form .webform-component-textarea{ margin-bottom:40px}
.webform-client-form label{ font-size:1.5em; font-weight:normal; }
.webform-client-form .webform-container-inline label,
.webform-client-form .webform-component-textarea label{ width:25%; display:inline-block; margin:0}
.webform-client-form .webform-component-radios label{ width:auto}
.webform-client-form .form-radios{ float:right; text-transform:uppercase}
.webform-client-form .form-radios .form-type-radio{ margin-left:25px}
.webform-client-form .webform-component-checkboxes{ padding-left:26%; margin-top:40px}
.webform-client-form .form-type-checkbox label{ margin-left:10px}
.webform-client-form input[type=text],
.webform-client-form input[type=email],
.webform-client-form select,
.webform-client-form textarea{ font-size:1.5em; width:74%}
.webform-client-form textarea{ display:inline; width:74%}
.webform-client-form .form-textarea-wrapper{ display:inline; }
.webform-client-form #edit-actions{ margin-top:30px}
.webform-client-form #edit-actions input[type=submit]{ font-size:1.2em; border-radius:5px; float:right; height:30px}

#webform-component-terms{ height:140px; overflow:auto; font-size:.7em; padding-left:26%}

/* TRANSITIONS */
.transition, .btn a, a.btn, input[type=submit], #nav a, .menu a {
 -webkit-transition: all .2s ease-in-out, color .2s ease-in-out;
 -moz-transition: all .2s ease-in-out, color .2s ease-in-out;
 -ms-transition: all .2s ease-in-out, color .2s ease-in-out;
 -o-transition: all .2s ease-in-out, color .2s ease-in-out;
 transition: all .2s ease-in-out, color .2s ease-in-out;
}

/* DRUPAL OVERRIDES */
#admin-menu .dropdown li{ font-size:9px}
div.messages{ font-size:1.5em}
div.messages p,
div.messages ul{ font-size:1em; margin:0}
/*.contextual-links-region{ position:static}*/


/* ------------------------------ */
/* PAGE ELEMENTS
/* ------------------------------ */

#skip-link { margin: 0;}

ul.primary, ul.secondary{ border:none; margin:0; padding:0; font-size:.9em; position:absolute; top:2px; right:0; }
ul.primary li{ border:none; border-radius:0; margin-top:2px; padding:0}
ul.primary a:link, ul.primary a:visited,
.views-field-edit-node a,
#edit-actions input[type=submit]{ padding:3px 10px; text-shadow:none; border-radius:0; text-decoration:none; background:#a6ce39; color:#fff; border:none; font-weight:bold; display:block; text-transform:uppercase; z-index:99}
ul.primary a:hover,
.views-field-edit-node a:hover,
#edit-actions input[type=submit]:hover{ background:#82a621; }
.is-active.tabs-primary__tab{ border-radius:0; border:none}

/* VIDEO */
.field-name-field-video{ margin-top:40px}
.fluid-width-video-wrapper { padding:0; position: relative; width: 100%; padding-bottom:56.25%}
.fluid-width-video-wrapper iframe, .fluid-width-video-wrapper object, .fluid-width-video-wrapper embed,
html .media-vimeo-preview-wrapper object, html .media-vimeo-preview-wrapper iframe{ height: 100%; width: 100%; position: absolute; top: 0; left: 0;  }
.media-vimeo-preview-wrapper, .fluid-width-video-wrapper{ height:auto !important; width:auto !important}

/* FLEXSLIDER */
.flexslider{ background:none; border:none; border-radius:0; box-shadow:none; margin:0; padding:0; -webkit-border-radius: 0; -moz-border-radius: 0; -o-border-radius: 0; box-shadow:none; -webkit-box-shadow:none; -moz-box-shadow:none; -o-box-shadow:none;}
.flexslider ul.slides,
.flexslider ul.slides li,
.flexslider ul.flex-direction-nav,
.flexslider ul.flex-direction-nav li{ margin:0; padding:0; font-size:1em}
/* Direction Nav */
.flexslider .flex-direction-nav a{ display:block; width:37px; height:72px; margin-top:-36px  }
.flexslider .flex-direction-nav .flex-prev,
.flexslider:hover .flex-prev{ left:0; opacity:1; }
.flexslider .flex-direction-nav .flex-next,
.flexslider:hover .flex-next{ right:0; opacity:1; }
.flexslider .flex-direction-nav a{ background:url(../images/sprite.png); -webkit-transition:none; }
.flexslider .flex-direction-nav a.flex-prev{ background-position:-290px 0}
.flexslider .flex-direction-nav a.flex-next{ background-position:-249px 0}
.flexslider .flex-direction-nav a.flex-prev:hover{ background-position:-290px -80px}
.flexslider .flex-direction-nav a.flex-next:hover{ background-position:-249px -80px}
/* Pager Nav */
.flexslider .flex-control-nav{ bottom:0; height:26px; }
.flexslider .flex-control-nav li{ padding:0 5px; margin:0; background:#000; height:26px; line-height:26px; position:relative}
.flexslider .flex-control-paging li a{ background:#333; width:10px; height:10px; margin-top:8px; box-shadow:none}
.flexslider .flex-control-paging li a.flex-active,
.flexslider .flex-control-paging li a:hover{ background:#fff}
.flexslider .flex-control-paging li:first-child:before,
.flexslider .flex-control-paging li:last-child:after{ content:''; height:26px; width:25px; display:block; position:absolute;  background:url(/sites/all/themes/flowform/images/sprite.png); top:0}
.flexslider .flex-control-paging li:first-child:before{ left:-25px; background-position:0 -100px}
.flexslider .flex-control-paging li:last-child:after{ right:-25px;background-position:-30px -100px}
/* Small Slider */
.left .flexslider .flex-direction-nav a{ width:26px; height:52px; margin-top:-26px}
.left .flexslider .flex-direction-nav a.flex-prev{ background-position:-360px 0}
.left .flexslider .flex-direction-nav a.flex-next{ background-position:-330px 0}
.left .flexslider .flex-direction-nav a.flex-prev:hover{ background-position:-360px -60px}
.left .flexslider .flex-direction-nav a.flex-next:hover{ background-position:-330px -60px}
.left .flexslider .flex-control-nav{ height:19px}
.left .flexslider .flex-control-nav li{ height:19px; line-height:19px}
.left .flex-control-paging li:first-child:before, 
.left .flex-control-paging li:last-child:after{ width:18px; height:19px}
.left .flex-control-paging li:first-child:before{ left:-18px; background-position:0 -130px}
.left .flex-control-paging li:last-child:after{ right:-18px; background-position:-20px -130px}
.left .flexslider .flex-control-paging li a{ margin-top:6px}


/* ------------------------------ */
/* CONTENT TYPES
/* ------------------------------ */

.node .right{ float:right; width:58%}
.node .left{ float:left; width:37%}
.node .images{ border-bottom:2px solid #333; margin-bottom:6px; padding-bottom:6px}

.front .node .right,
.page-node-7 .node-7 .right{ float:none; width:auto}

/* HOME */
.front ul.primary{ top:-20px}
.front h1{ display:none}
.front .right p{ font-size:2em; margin:0}
.front .padding .region-bottom{ padding-bottom:45px}
.front #page-bottom{ padding-top:30px}

/* PRODUCT */
.node-product .field-name-field-image{ background:#5c5c5c; text-align:center}
.node-product .field-name-field-image img{ margin:0 auto}
.footnote{ border-top:2px solid #666; padding-top:20px; }
.footnote p{ margin-bottom:0}
#request-dwg{ border-bottom:2px solid #404040; line-height:1; padding:8px 0; max-width:350px; margin:0 auto}

/* PROJECT */
.node-project h2{ border:none; margin:-20px 0 20px; padding:0}
.node-project .images{ margin:0 -20px 55px}
.field-name-field-title h4{ margin-top:0}
.field-name-field-title .field-item,
.field-name-field-client .field-item,
.field-name-field-gc .field-item,
.field-name-field--budget .field-item{ font-size:1.5em}

/* WEBFORM */
.node-webform .right .field-name-body{ display:none}
.node-webform .left a{ font-weight:bold; color:#A6CE39; text-decoration:none}
.node-webform .left a:hover{ text-decoration:underline}

/* DWG FORM */
.node-27{ position:relative}
.webform-client-form #webform-component-products{ position:absolute; left:0; top:0; padding:0; margin:0; width:30%}
.webform-client-form #webform-component-products > label{ font-weight:bold; color:#a6ce39; text-transform:uppercase; width:auto; margin-bottom:20px; line-height:1.2}
.webform-client-form #webform-component-products  .form-type-checkbox label{ margin-left:20px; text-transform:uppercase; line-height:1}
.webform-client-form #webform-component-products  .form-type-checkbox label span {color:#929191; font-size:.8em; display:block; margin-left:38px; font-weight:bold}


/* ------------------------------ */
/* VIEWS
/* ------------------------------ */

/* GLOBAL VIEW STYLES */
.view .views-row{ position:relative}
.view .views-field-edit-node a{ position:absolute; right:0; top:0;}
table.draggable { color:#000; font-size:1.5em}
.tabledrag-toggle-weight-wrapper{ display:none}

/* PROFILES */
.view-profiles .views-row{ margin-bottom:60px}
.view-profiles .header{ position:relative; border-bottom:2px solid #666; padding-bottom:15px; margin-bottom:15px }
.view-profiles .title{ position:absolute; bottom:15px; left:43%; padding-right:10px}
.view-profiles .image{ width:40%}
.view-profiles p{ font-size:1.3em; line-height:1.4em}
.view-profiles h5{ margin:0}

/* LIST */
.view-list .views-row{ margin-bottom:50px; }
.view-list .image{ background:#5C5C5C; text-align:center}
.view-list .image img{ margin:0 auto}
.view-list h3{ border-top:2px solid #666; padding-top:15px; margin-bottom:5px}
.view-list h3 a{ background:url(../images/arrow_white.png) right center no-repeat; padding-right:25px}
.view-list h3 a:hover{ padding-right:26px}

/* HOME SLIDESHOW */
.view-home-slideshow{ border-bottom:2px solid #404040; margin:0 -20px 40px; padding-bottom:6px}
.view-home-slideshow .flexslider .slides{ position:relative}
.view-home-slideshow .flexslider .text{ position:absolute; top:20%; left:0; width:320px; background: #fff; background:rgba(255,255,255,0.9); border-radius:0 15px 15px 0; color:#333333}
.view-home-slideshow .flexslider .text .inner{ padding:40px 35px 45px 60px}
.view-home-slideshow .flexslider .text h2{ border-bottom:2px solid #afafac; margin:0 0 12px; padding:0 0 15px}
.view-home-slideshow .flexslider .text .body{ border-bottom:2px solid #afafac; margin:0 0 15px; padding:0 0 12px}
.view-home-slideshow .flexslider .text p{ margin:0}
.view-home-slideshow .flexslider .text a.arrow{ color:#A6CE39; }

/* INSTAGRAM */
#block-views-instagrams-block{ float:right; width:50%}
#block-views-instagrams-block > .inner{ padding-left:20px}
.view-instagrams .views-row{ margin-bottom:15px}
.view-instagrams  img{ margin:0 auto}
.feed h2{ font-size:2em; color:#a6ce39; font-family:arial; margin-bottom:20px}
.feed h2 span{ font-family:'archivo'; display:inline; color:#a6ce39; font-size:1.1em}

/* FACEBOOK */
.facebook-feed{ width:50%; float:left}
.facebook-feed .inner{ padding-right:20px}
.fb_iframe_widget,
.fb-like-box > span,
.fb-like-box iframe{ width:100%!important; max-width:100% !important; background:#fff }



