
/* ------------------------------ */
/* DESKTOP
/* ------------------------------ */

@media (max-width: 960px) {

nav ul.menu{ font-size:1.65em}
nav ul.menu li a{ padding:0 10px}
nav ul.menu ul{ padding:0 10px}

}

/* ------------------------------ */
/* TABLET
/* ------------------------------ */

@media (max-width: 800px) {

/* MAIN LAYOUT 
------------------------------ */

#page{ position:relative} /* DO NOT REMOVE: JS MEDIA QUERY */
.padding > .inner{ padding:0 50px}


/* HEADER 
------------------------------ */

header .inner{ background:#fff; position:relative;}
#menu-toggle{  display:block }
nav{ position:relative; top:0; display:none}
nav ul.menu li{ display:block; float:none; text-align:center; line-height:44px;}
nav ul.menu li{ border:none}
nav ul.menu li:hover,
nav ul.menu li a:hover{ background:none}
nav ul.menu ul{ display:block; position:relative; background:none; left:0; top:0; border:none}
nav ul.menu ul li{ border:none}


/* FOOTER
 ------------------------------ */

#buckets .grid.third{ float:none;width:auto; }
#buckets .grid.third:nth-child(3n-2) .inner,
#buckets .grid.third:nth-child(3n-1) .inner,
#buckets .grid.third:nth-child(3n+0) .inner{ padding:0;}
#buckets ul{ max-width:294px; margin:0 auto}
#buckets ul li{ margin-bottom:20px}
#buckets ul li:last-child{ margin:0}

ul#social-links li{ padding:0 15px; margin-bottom:20px; float:none; left:auto; display:inline-block}
ul#social-links li.youtube{ border:none}
ul#social-links li.phone{ display:block; float:none; border:none; margin-bottom:0; }


/* GRID
------------------------------ */

.grid.half{ width:auto; float:none}
.grid.half:nth-child(odd) .inner,
.grid.half:nth-child(even) .inner{padding:0}

.grid.third,
.grid.quarter{ width:50%}
.grid.third:nth-child(3n-2) .inner,
.grid.third:nth-child(3n-1) .inner,
.grid.third:nth-child(3n+0) .inner,
.grid.quarter:nth-child(4n-3) .inner,
.grid.quarter:nth-child(4n-2) .inner,
.grid.quarter:nth-child(4n-1) .inner,
.grid.quarter:nth-child(4n) .inner{ padding:0}
.grid.third:nth-child(odd) .inner,
.grid.quarter:nth-child(odd) .inner{ padding-right:20px}
.grid.third:nth-child(even) .inner,
.grid.quarter:nth-child(even) .inner{padding-left:20px}


/* ELEMENTS
------------------------------ */

h1{ font-size:4em; padding-left:50px; padding-right:50px }
h2{ font-size:2em;  }
h3{ font-size:1.8em; }
h4{ font-size:1.5em; }
h5{ font-size:1.2em; }


/* CONTENT TYPES
------------------------------ */

.node .left,
.node .right{ float:none; width:auto}
.node .left{ margin-top:50px}

.node .left .images,
.node .left .image{ max-width:350px; margin:0 auto}

/* PROJECT */
.view-home-slideshow,
.node-project .images{ margin-left:-50px; margin-right:-50px}

/* DWG REQUEST */
.webform-client-form #webform-component-products{ position:relative; top:0; left:0; width:auto; margin-bottom:40px}
.webform-client-form #webform-component-products .form-type-checkbox label span{ display:inline; margin:0 0 0 20px}


/* VIEWS
------------------------------ */

/* HOME SLIDESHOW */
.view-home-slideshow .flexslider .text{ position:relative; top:0; left:0; border-radius:0; width:auto}
.view-home-slideshow .flexslider .text .inner{ padding: 40px}

/* FEEDS */
.facebook-feed,
#block-views-instagrams-block{ float:none; width:auto}
.facebook-feed .inner,
#block-views-instagrams-block > .inner{ padding:0}
#block-views-instagrams-block{ margin-top:40px}


}


/* ------------------------------ */
/* MOBILE
/* ------------------------------ */
 
@media (max-width: 480px) {


/* MAIN LAYOUT 
------------------------------ */
.padding > .inner{ padding:0 20px}
header .inner{ padding-right:60px}


/* GRID
------------------------------ */

.grid.third{ width:auto; float:none}
.grid.third:nth-child(even) .inner,
.grid.third:nth-child(odd) .inner{padding:0}


/* ELEMENTS
------------------------------ */

h1{ font-size:3em; padding-left:20px; padding-right:20px }
h2{ font-size:1.8em;  }
h3{ font-size:1.6em; }

.webform-client-form .webform-container-inline label, 
.webform-client-form .webform-component-textarea label{ display:block; width:auto}
.webform-client-form .form-radios{ float:none; display:block}
.webform-client-form .webform-component-radios label{ display:inline-block}
.webform-client-form #edit-actions input[type="submit"]{ float:none; display:inline}
.webform-client-form input[type="text"], 
.webform-client-form input[type="email"], 
.webform-client-form select, 
.webform-client-form textarea{ width:100%}
.webform-client-form .form-radios .form-type-radio{ margin:0 25px 0 0}
.webform-client-form .webform-component-checkboxes,
#webform-component-terms{ padding-left:0}


/* CONTENT TYPES
------------------------------ */

/* PROJECT */
.view-home-slideshow,
.node-project .images{ margin-left:-20px; margin-right:-20px}

.fb_iframe_widget,
.fb-like-box > span,
.fb-like-box iframe{ width:440px!important; max-width:440px !important;}


/* VIEWS
------------------------------ */

/* PROFILES */
.view-profiles .views-row{ margin-bottom:20px}
.view-profiles .views-row .image,
.view-profiles .views-row .title{ width:auto; position:relative; top:0; left:0; }
.view-profiles .views-row .image{ margin-bottom:20px}
.view-profiles .views-row .image img{ margin:0 auto}

/* HOME SLIDESHOW */
.view-home-slideshow .flexslider .text .inner{ padding: 40px 50px}

}  


@media (max-width: 320px) {
	
.fb_iframe_widget,
.fb-like-box > span,
.fb-like-box iframe{ width:280px!important; max-width:280px !important;}
	
}
